<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ke.co.esuite.db.persistence.DbMapper">    
    
    <insert id="saveUnifiToken" parameterType="UnifiData"> 
    	INSERT INTO `unifi_voucher`
    	(
    		`MPESA_TRANS_ID`, `PHONE_NUMBER`, `TRANS_AMOUNT`, `MINUTES`, 
    		`VOUCHER_NUMBER`, `DATE_CREATED`, `SMS_STATUS`,`SMS_MESSAGE`,
    		`RET_MESSAGE`
    	) VALUES (
    		#{mpesaTransId},#{phoneNumber},#{transAmount},#{minutes},
    		#{voucherNumber},#{createdDate}, #{smsStatus}, #{smsMessage},
    		#{retMessage}
    	)		
	</insert>
	
	<update id="updateUnifiTokenSms">
		UPDATE `unifi_voucher` 
		SET `SMS_STATUS`=#{smsStatus},`SMS_MESSAGE`=#{smsMessage},`RET_MESSAGE`=#{retMessage} 
		WHERE `VOUCHER_NUMBER` = #{voucherNumber}
	</update>
	
	<select id="searchPackage" resultType="UnifiPayPackage">
		SELECT `ID` id,`DESCRIPTION` description, `AMOUNT` amount, `MINUTES` minutes 
		FROM `unifi_packages` 
		WHERE `AMOUNT` = #{amount}
	</select>
	
	<select id="getAllPackage" resultType="UnifiPayPackage">
		SELECT `ID` id,`DESCRIPTION` description, `AMOUNT` amount, `MINUTES` minutes 
		FROM `unifi_packages`
	</select>
  
</mapper>